body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #007bff;
    color: white;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .user-table .edit-btn,
.user-table .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.user-table .edit-btn i {
  color: #28a745; /* Green for edit */
}

.user-table .delete-btn i {
  color: #dc3545; /* Red for delete */
}